@import url(https://fonts.googleapis.com/css?family=Lato);

@keyframes fadeIn {
  from {bottom: 0px;}
  to {bottom: 200px;}
}

.prep {
  position: relative;
  /* display: block; */
  border: 1px solid #ffc145;
  margin-bottom: 5px;
  padding: 10px 18px;
  -webkit-animation: fadeIn 700ms ease-in-out 1s both;
  animation-fill-mode: both;
  /* border-bottom: 1px solid #e5e5e5; */
  /* padding: 8px 16px; */
  border-radius:5px;
}

.prep:hover {
  background-color: #968c8b;
  color: #1e3c35;
}

li:nth-child(1) {
  animation-delay: 0.25s;
}
li:nth-child(2) {
  animation-delay: 0.5s;
}
li:nth-child(3) {
  animation-delay: 0.75s;
}
li:nth-child(4) {
  animation-delay: 1s;
}
li:nth-child(5) {
  animation-delay: 1.25s;
}
li:nth-child(6) {
  animation-delay: 1.25s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: 100px;
  }
  75% {
    opacity: 0.5;
    bottom: 0px;
  }
  100% {
    opacity: 0.8;
  }
}